.rootWrapper {
    height: 100vh;
}

header {
    height: 10vh;
    background-color: red;
}

section {
    height: 80vh;
    background-color: yellow;
}

footer {
    height: 10vh;
    background-color: green;
}