<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="topWrapper">                
        <header>
            header
        </header>
        <nav>
            nav
        </nav>
    </div>
    <div class="middleWrapper">
        <section>
            section
            <div class="banner">
                <div class="bannerMain">
                    <div class="bannerMainImg"></div>
                    <div class="bannerMainText"></div>
                </div>
                <div class="bannerSubList">
                    <ul>
                        <li>
                            <div class="bannerSubImg">1</div>
                            <div>text</div>
                        </li>
                        <li>
                            <div class="bannerSubImg">2</div>
                            <div>text</div>
                        </li>
                        <li>
                            <div class="bannerSubImg">3</div>
                            <div>text</div>
                        </li>
                        <li>
                            <div class="bannerSubImg">4</div>
                            <div>text</div>
                        </li>
                        <li>
                            <div class="bannerSubImg">5</div>
                            <div>text</div>
                        </li>
                    </ul>
                </div>
            </div>
            <article>
                <div class="articleTag">
                    tagArea
                </div>
                <div class="articleList">
                    <ul>
                        <li>
                            <div class="articleImg">1</div>
                            <div>text</div>
                        </li>
                        <li>
                            <div class="articleImg">1</div>
                            <div>text</div>
                        </li>
                        <li>
                            <div class="articleImg">1</div>
                            <div>text</div>
                        </li>
                        <li>
                            <div class="articleImg">1</div>
                            <div>text</div>
                        </li>
                        <li>
                            <div class="articleImg">1</div>
                            <div>text</div>
                        </li>
                    </ul>
                </div>
            </article>
        </section>
        <aside>
            aside
        </aside>
    </div>
</body>
</html>